body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9; 
    color: #333;
}

.section {
    text-align: center;
    padding: 50px 20px;
}

header {
    background-image: url('fonditoo.jpg');
    color: white;
    padding: 60px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-position: 0cqmax;
    background-repeat: repeat-x;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

main {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 1200px;
}

.gallery-section {
    margin-bottom: 40px;
}

.gallery-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #4CAF50;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
}

.item img {
    width: 101%;
    height: 10;
    border-radius: 10px;
    transition: transform 0.3s;
}

.item img:hover {
    transform: scale(1.05); 
}
.gorraa{
    font-family: 'Times New Roman', Times, serif;
}

.eslogan{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #FF5722;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background-color: #E64A19;
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: white;
    padding: 30px 20px;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
